{% extends 'layout.html.twig' %}

{% block content %}
    <form action="/characters/store" method="POST">
        <div class="field">
            <label for="name">Nom du personnage</label>
            <input type="text" name="name" id="name">
            <div class="error">{{errors['name']}}</div>
        </div>

        <div class="field">
            {% for image in images %}
                <div class="img">
                    <img src="{{image.url}}" alt="">
                </div>
            {% endfor %}

            <input id="image" type="hidden" name="img" value="">
            <div class="error">{{errors['img']}}</div>
        </div>

        <div class="field">
            <label for="quote">Choisir une quote associée au personnage</label>

            <select name="quote_id" id="quote">
                <option value="">Choisir une quote</option>
                {% for quote in quotes %}
                    <option value="{{quote.id}}">{{quote.quote}}</option>
                {% endfor %}
            </select>
            <div class="error">{{errors['quote_id']}}</div>
        </div>

        <button class="btn">Ajouter un personnage</button>

    </form>
{% endblock %}
